certifi==2021.10.8
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822684275/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1633384704162/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1635854233911/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1633656206378/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833678538/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
